/*Created By Blake Weissman*/
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.anchor{
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    background: #1585b5 !important;
}

footer p {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: white;
    font-weight: 300;
		padding: 10px 20px;
    line-height: 24px;
}

footer p a {
    color: white;
		font-weight: bold;
}

a#scroll span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #1585b5;
    border-bottom: 2px solid #1585b5;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

a.scroll {
    position: absolute;
    bottom: 12vh;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

/*Navbar*/
.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0; 
    width: 100%;
    transition: all 0.4s ease;
}

a.nav-button {
    margin-left: 17px;
    margin-top: 4px;
}

a.nav-button-change {
    border-color: white !important;
    border-style: solid !important;
    border-width: 1px !important;
}

div.navbar-cont {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div.navbar-right {
    float: right;
    padding: 14px 0px;
}

div.navbar-left {
    float: left;
}

a.logo {
    color: #1585b5;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 33px;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

a.nav-link {
    float: left;
    display: block;
    color: #1585b5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.4s ease;
    border-radius: 4px;
}

a.last {
    float: left;
    display: block;
    color: #1585b5;
    text-align: center;
    padding: 14px 0px !important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.4s ease;
}

a.nav-link:hover {
    background: white;
    color: #1585b5;
    outline: none !important;
    border-color: #1585b5 !important;
    border-width: 1px !important;
}

a.nav-link-hov-ch:hover {
    background: #1585b5;
    color: white;
    outline: none !important;
    border-color: white!important;
    border-width: 1px !important;
}

.main {
    margin-top: 30px; 
}

div.navbar-change {
    background: #1585b5 !important;
    box-shadow: 0 25px 60px rgba(0,0,0,.2);
}

a.navbar-text-change {
    color: white;
}

/*L1*/
div.l1 {
    height: 100vh;
    background: white;
    background-size: cover !important;
    min-height: fit-content;
    display: flex;
    background-attachment: fixed !important;
    background-size: cover !important;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1.l1 {
    color: #1585b5;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

p.l1 {
    color: #1585b5;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 20px;
}

div.l1-col1 {
    margin-right: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

div.l1-col1-cont {
    margin-left: auto;
    margin-right: auto;
    height: inherit;
}

img.l1-col2 {
    display: block;
    max-width: 100%;
    height: unset;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 25px 60px rgba(0,0,0,.4);
    float: right;
    margin-left: auto;
}

div.l1-col2 {
    margin-left: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    padding-top: 23px;
}

a.l1 {
    background: #1585b5;
    color: #fff;
    border: 2px solid transparent;
    border-width: 1px !important;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
}

a.l1:hover {
    background: white;
    color: #1585b5;
    outline: none !important;
    border-color: #1585b5 !important;
    border-style: solid !important;
    border-width: 1px !important;
}

/*L2*/
div.l2 {
    background: #232323;
    padding-bottom: 65px;
}

div.l2-wrap {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    display: flex;
    padding-bottom: 55px;
}

div.l2-wrap-cen {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    display: block;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

div.l2-text-top{
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

h1.l2 {
    text-transform: uppercase;
    margin: 0px;
    padding-top: 15px;
    font-size: 40px;
    font-weight: 300;
    color: white;
    width: 100%;
}

p.l2 {
    color: white;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.l2-in-left {
    float: left;
    width: 50%
}

div.l2-in-right {
    float: right;
    width: 50%
}

img.l2 {
    display: block;
    max-width: 100%;
    height: unset;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 25px 60px rgba(0,0,0,.4);
    margin-left: auto;
}

img.l2-right {
    float: right;
}

img.l2-left {
    float: left;
}

div.l2-img-cont {
    padding-top: 13px;
}

.video-shadow {
    box-shadow: 0 25px 60px rgba(0,0,0,.4);
}

/*L3*/
div.l3 {
    background: white;
    background-size: cover !important;
    min-height: fit-content;
    display: flex;
    background-attachment: fixed !important;
    background-size: cover !important;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}


div.l3-wrap-cen {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    display: block;
    padding-bottom: 55px;
}

div.l3-text-top{
    text-align: center;
}

h1.l3 {
    text-transform: uppercase;
    margin: 0px;
    padding-top: 15px;
    font-size: 40px;
    font-weight: 300;
    color: black;
    width: 100%;
}

p.l3 {
    color: black;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*L4*/
div.l4 {
    background: white;
    background-size: cover !important;
    min-height: fit-content;
    display: flex;
    background-attachment: fixed !important;
    background-size: cover !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


div.l4-wrap-cen {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
		padding-top: 35px;
    display: block;
		padding-bottom: 55px;
}

div.l4-text-top{
    text-align: center;
}

h1.l4 {
    text-transform: uppercase;
    margin: 0px;
    padding-top: 15px;
    font-size: 40px;
    font-weight: 300;
    color: black;
    width: 100%;
}

p.l4 {
    color: black;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Contact*/
.form-group {
    margin-bottom: 15px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    color: #222;
    background-color: #fff;
    background-image: none;
    border: 1px solid #222;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    font-size: 16px;
}

input.btn {
    background: #1585b5;
    color: #fff;
    border: 2px solid transparent;
    border-width: 1px !important;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
}

textarea.form-control {
    height: auto;
}

input.btn:hover {
    background: white;
    color: #1585b5;
    outline: none !important;
    border-color: #1585b5 !important;
    border-style: solid !important;
    border-width: 1px !important;
}


/*Build*/
h2.build {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 800;

}

/*Mobile*/
@media only screen and (max-width : 1250px) {
    p.footer-text {
        margin-left: auto;
        margin-right: auto;
        width: 85% !important;
    }
    
    div.l1 {
        display: block;
        width: 85% !important;
        margin-top: 5.5vh;
    }
    
    div.l1-col1 {
        width: 100% !important;
    }
    
    div.l1-col2 {
        width: 100% !important;
        padding-top: 0px;

    }
    
    h1.l1 { 
        font-size: 2em !important;
    }
    
    .navbar {
        opacity: 0;
    }
    
    div.navbar-change {
        opacity: 1;
    }
    
    div.navbar-cont {
        width: 85%;
    }
    
    img.l1-col2 {
        margin-left: 0;
        margin-right: auto;
        float: left;
    }
    
    a.nav-link {
        width: 100%;
    }
    
    a.nav-button {
        display: none;
    }
    
    div.navbar-right {
        float: none;
    }

    ul {
        padding: 20px;
        background: transparent;
        right: 0px;
        top: 108px;
        width: 100%;
        transition: all 0.4s ease;
    }
    
    li.norm-li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    
    div.l2-wrap-cen{
        width: 85% !important;
        padding-top: 28px;
    }
    
    div.l3 {
        width: 85% !important;
    }
    
    div.l4-wrap-cen {
        width: 85% !important;
    }
}

@media only screen and (max-height : 470px) and (max-width : 1250px) {
    div.l1-col2 {
        height: inherit;
        margin-bottom: 30px;
    }
}

@media only screen and (max-height : 470px) and (max-width : 1250px) and (min-width : 480px) { 
    img.l1-col2 {
        height: inherit;
        max-height: max-content;
    }
}